<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuprex - Password Reset Initiated</title>
  </head>
  <body>
    <h1>
      Hello <span style="text-transform: capitalize"><%= fullname %></span>,
    </h1>
    <p>Your One Time Password (otp) is:</p>
    <h2><%= otp %></h2>
    <p>If you did not request this, please ignore this email.</p>
    <p>Thank you!</p>
    <code>Nuprex Team</code>
  </body>
</html>
